
<%= render 'shared/progress_bars' %>

<div class = "v_textarea">
	<div class="valuation_text_box">
		<h4 class="h_size">구체적인 강의평을 남겨주세요</h4>
		<p class = "lead" style = "font-size : 12px"> 욕설 및 성의없는 평가를 기재할 시 이용에 제한이 있을 수 있습니다. </p>
		<p class = "lead" style = "font-size : 12px"> 학사정보시스템과 달리 강의평가는 별명(익명)으로 작성이 됩니다.</p>
		<textarea class="message" rows='15' cols='500' maxlength="500" 
		placeholder = "강의 방식등 여러 학우를 위해 구체적인 강의평가를 남겨주세요!">
		</textarea>
		<div id="showremain">0</div>

	</div>
	<div>
		<button type="submit" class="btn btn-primary" id ="submit_button">
			평가하기
		</button>
	</div>	
</div>




	 






<script>
	// progress bar에 마우스를 올리면 	=>	hover
	// progress bar에 색을 채운다.
var grade=0;   //학점
var workload=0; // 공부 량 
var achievement=0; //성취감
var homework=0;  //과제량
var level=0;    // 난이도
var total=0;    // 총합 
var grade_clicked=0;  // 클릭했는지 유무 확인
var grade_th=-1;
function writeGradeText(index)
	{
		switch(index) 
			{
			case 0:
				$('#grade_text').text('FF 폭격기!! FF');
				break;
			case 1:
				$('#grade_text').text('야박하시다..');	
				break;
			case 2:
				$('#grade_text').text('보통');
				break;
			case 3:
				$('#grade_text').text('잘 주시는 편');
				break;
			case 4:
				$('#grade_text').text('꽉꽉 채워주심!!');
				break;
			}
	}
	// first_grade
$('#first_grade, #second_grade, #third_grade, #fourth_grade, #fifth_grade').bind({
		"mouseenter" : function(){
			for(i=0; i<$(this).index()+1; i++){
				$(this).parent().children().eq(i).attr('aria-valuenow','20');
				}
			writeGradeText($(this).index());
		},
		"mouseout" : function() {
			if(grade_clicked)
			{
				for(i=0; i<5; i++){
					if(i<grade_th)
						$(this).parent().children().eq(i).attr('aria-valuenow','20');
					else 
						$(this).parent().children().eq(i).attr('aria-valuenow','0');
					}
				writeGradeText(grade_th-1);
			}
			else
			{
				for(i=0; i<$(this).index()+1; i++)
				{
					$(this).parent().children().eq(i).attr('aria-valuenow','0');
				}
				$('#grade_text').text('');
			}
		},
	    "click" : function() {
	    	grade_clicked=1;
	    	grade_th=$(this).index()+1;
	    	grade=grade_th*20

	    	for(i=0; i<5;i++)
	    	  {
	    		if(i<grade_th)
						$(this).parent().children().eq(i).attr('aria-valuenow','20');
				else 
						$(this).parent().children().eq(i).attr('aria-valuenow','0');
		      }
	    	writeGradeText(grade_th-1);
	    }
	});
//  공부량 
	$('#first_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#first_workload').on('mouseout');
	    $('#workload_text').text('완전 적음');

	});

	$('#first_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
		$('#workload_text').text('');
	});

	$('#first_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '0');
		$('#third_workload').attr('aria-valuenow', '0');
		$('#fourth_workload').attr('aria-valuenow', '0');
		$('#fifth_workload').attr('aria-valuenow', '0');
		$('#first_workload').off('mouseout');
		workload = 20;
	});


	// second_workload
	$('#second_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#workload_text').text('조금 적음');
	});

	$('#second_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
		$('#second_workload').attr('aria-valuenow', '0');
		$('#workload_text').text('');
	});

	$('#second_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '0');
		$('#fourth_workload').attr('aria-valuenow', '0');
		$('#fifth_workload').attr('aria-valuenow', '0');

		$('#first_workload').off('mouseout');
		$('#second_workload').off('mouseout');
		workload = 40;
	});

	// third_workload
	$('#third_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
		$('#workload_text').text('보통');
	});

	$('#third_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
		$('#second_workload').attr('aria-valuenow', '0');
		$('#third_workload').attr('aria-valuenow', '0');
		$('#workload_text').text('');
	});

	$('#third_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
		$('#fourth_workload').attr('aria-valuenow', '0');
		$('#fifth_workload').attr('aria-valuenow', '0');
		$('#fifth_workload').attr('aria-valuenow', '0');
		$('#first_workload').off('mouseout');
		$('#second_workload').off('mouseout');
		$('#third_workload').off('mouseout');
		workload = 60;
	});

	// fourth_workload
	$('#fourth_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
		$('#fourth_workload').attr('aria-valuenow', '100');
		$('#workload_text').text('조금 많음');
	});

	$('#fourth_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
		$('#second_workload').attr('aria-valuenow', '0');
		$('#third_workload').attr('aria-valuenow', '0');
		$('#fourth_workload').attr('aria-valuenow', '0');
		$('#workload_text').text('');
	});


	$('#fourth_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
		$('#fourth_workload').attr('aria-valuenow', '100');
		$('#fifth_workload').attr('aria-valuenow', '0');
		$('#first_workload').off('mouseout');
		$('#second_workload').off('mouseout');
		$('#third_workload').off('mouseout');
		$('#fourth_workload').off('mouseout');
		workload = 80;
	});


	// fifth_workload
	$('#fifth_workload').hover(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
		$('#fourth_workload').attr('aria-valuenow', '100');
		$('#fifth_workload').attr('aria-valuenow', '100');
		$('#workload_text').text('완전 많아요(지옥)');
	});

	$('#fifth_workload').mouseout(function(){
		$('#first_workload').attr('aria-valuenow', '0');
		$('#second_workload').attr('aria-valuenow', '0');
		$('#third_workload').attr('aria-valuenow', '0');
		$('#fourth_workload').attr('aria-valuenow', '0');
		$('#fifth_workload').attr('aria-valuenow', '0');
		$('#workload_text').text('');
	});


	$('#fifth_workload').click(function(){
		$('#first_workload').attr('aria-valuenow', '100');
		$('#second_workload').attr('aria-valuenow', '100');
		$('#third_workload').attr('aria-valuenow', '100');
		$('#fourth_workload').attr('aria-valuenow', '100');
		$('#fifth_workload').attr('aria-valuenow', '100');
		$('#first_workload').off('mouseout');
		$('#second_workload').off('mouseout');
		$('#third_workload').off('mouseout');
		$('#fourth_workload').off('mouseout');
		$('#fifth_workload').off('mouseout');
		workload = 100;
	});

// 성취감
	// first_achievement
	$('#first_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#first_achievement').on('mouseout');
		$('#achievement_text').text('아무것도 기억나지 않음');

	});

	$('#first_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
		$('#achievement_text').text('');
	});

	$('#first_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '0');
		$('#third_achievement').attr('aria-valuenow', '0');
		$('#fourth_achievement').attr('aria-valuenow', '0');
		$('#fifth_achievement').attr('aria-valuenow', '0');
		$('#first_achievement').off('mouseout');
		achievement = 20;
	});


	// second_achievement
	$('#second_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#achievement_text').text('힘들기만 함');
	});

	$('#second_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
		$('#second_achievement').attr('aria-valuenow', '0');
		$('#achievement_text').text('');
	});

	$('#second_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '0');
		$('#fourth_achievement').attr('aria-valuenow', '0');
		$('#fifth_achievement').attr('aria-valuenow', '0');

		$('#first_achievement').off('mouseout');
		$('#second_achievement').off('mouseout');
		achievement = 40;
	});

	// third_achievement
	$('#third_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
		$('#achievement_text').text('보통');
	});

	$('#third_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
		$('#second_achievement').attr('aria-valuenow', '0');
		$('#third_achievement').attr('aria-valuenow', '0');
		$('#achievement_text').text('');
	});

	$('#third_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
		$('#fourth_achievement').attr('aria-valuenow', '0');
		$('#fifth_achievement').attr('aria-valuenow', '0');
		
		$('#first_achievement').off('mouseout');
		$('#second_achievement').off('mouseout');
		$('#third_achievement').off('mouseout');
		achievement = 60;
	});

	// fourth_achievement
	$('#fourth_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
		$('#fourth_achievement').attr('aria-valuenow', '100');
		$('#achievement_text').text('뭔가 배운느낌');
	});

	$('#fourth_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
		$('#second_achievement').attr('aria-valuenow', '0');
		$('#third_achievement').attr('aria-valuenow', '0');
		$('#fourth_achievement').attr('aria-valuenow', '0');
		$('#achievement_text').text('');
	});


	$('#fourth_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
		$('#fourth_achievement').attr('aria-valuenow', '100');
		$('#fifth_achievement').attr('aria-valuenow', '0');

		$('#first_achievement').off('mouseout');
		$('#second_achievement').off('mouseout');
		$('#third_achievement').off('mouseout');
		$('#fourth_achievement').off('mouseout');
		achievement = 80;
	});


	// fifth_achievement
	$('#fifth_achievement').hover(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
		$('#fourth_achievement').attr('aria-valuenow', '100');
		$('#fifth_achievement').attr('aria-valuenow', '100');
		$('#achievement_text').text('정말 도움이 많이 되었음');
	});

	$('#fifth_achievement').mouseout(function(){
		$('#first_achievement').attr('aria-valuenow', '0');
		$('#second_achievement').attr('aria-valuenow', '0');
		$('#third_achievement').attr('aria-valuenow', '0');
		$('#fourth_achievement').attr('aria-valuenow', '0');
		$('#fifth_achievement').attr('aria-valuenow', '0');
		$('#achievement_text').text('');
	});


	$('#fifth_achievement').click(function(){
		$('#first_achievement').attr('aria-valuenow', '100');
		$('#second_achievement').attr('aria-valuenow', '100');
		$('#third_achievement').attr('aria-valuenow', '100');
		$('#fourth_achievement').attr('aria-valuenow', '100');
		$('#fifth_achievement').attr('aria-valuenow', '100');
		$('#first_achievement').off('mouseout');
		$('#second_achievement').off('mouseout');
		$('#third_achievement').off('mouseout');
		$('#fourth_achievement').off('mouseout');
		$('#fifth_achievement').off('mouseout');
		achievement = 100;
	});


// 난이도
	// first_level
	$('#first_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#first_level').on('mouseout');
		$('#level_text').text('짱 쉬워요!');
	});

	$('#first_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
		$('#level_text').text('');
	});

	$('#first_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '0');
		$('#third_level').attr('aria-valuenow', '0');
		$('#fourth_level').attr('aria-valuenow', '0');
		$('#fifth_level').attr('aria-valuenow', '0');

		$('#first_level').off('mouseout');
		level = 20;
	});


	// second_level
	$('#second_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#level_text').text('조금 쉬워요');
	});

	$('#second_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
		$('#second_level').attr('aria-valuenow', '0');
		$('#level_text').text('');
	});

	$('#second_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '0');
		$('#fourth_level').attr('aria-valuenow', '0');
		$('#fifth_level').attr('aria-valuenow', '0');
		$('#first_level').off('mouseout');
		$('#second_level').off('mouseout');
		level = 40;
	});

	// third_level
	$('#third_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');
		$('#level_text').text('보통');
	});

	$('#third_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
		$('#second_level').attr('aria-valuenow', '0');
		$('#third_level').attr('aria-valuenow', '0');
		$('#level_text').text('');
	});

	$('#third_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');

		$('#fourth_level').attr('aria-valuenow', '0');
		$('#fifth_level').attr('aria-valuenow', '0');
		$('#first_level').off('mouseout');
		$('#second_level').off('mouseout');
		$('#third_level').off('mouseout');
		level = 60;
	});

	// fourth_level
	$('#fourth_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');
		$('#fourth_level').attr('aria-valuenow', '100');
		$('#level_text').text('조금 어려워요');
	});

	$('#fourth_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
		$('#second_level').attr('aria-valuenow', '0');
		$('#third_level').attr('aria-valuenow', '0');
		$('#fourth_level').attr('aria-valuenow', '0');
		$('#level_text').text('');
	});


	$('#fourth_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');
		$('#fourth_level').attr('aria-valuenow', '100');
		$('#fifth_level').attr('aria-valuenow', '0');
		$('#first_level').off('mouseout');
		$('#second_level').off('mouseout');
		$('#third_level').off('mouseout');
		$('#fourth_level').off('mouseout');
		level = 80;
	});


	// fifth_level
	$('#fifth_level').hover(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');
		$('#fourth_level').attr('aria-valuenow', '100');
		$('#fifth_level').attr('aria-valuenow', '100');
		$('#level_text').text('짱어려워요ㅠㅠ');
	});

	$('#fifth_level').mouseout(function(){
		$('#first_level').attr('aria-valuenow', '0');
		$('#second_level').attr('aria-valuenow', '0');
		$('#third_level').attr('aria-valuenow', '0');
		$('#fourth_level').attr('aria-valuenow', '0');
		$('#fifth_level').attr('aria-valuenow', '0');
		$('#level_text').text('');
	});


	$('#fifth_level').click(function(){
		$('#first_level').attr('aria-valuenow', '100');
		$('#second_level').attr('aria-valuenow', '100');
		$('#third_level').attr('aria-valuenow', '100');
		$('#fourth_level').attr('aria-valuenow', '100');
		$('#fifth_level').attr('aria-valuenow', '100');
		$('#first_level').off('mouseout');
		$('#second_level').off('mouseout');
		$('#third_level').off('mouseout');
		$('#fourth_level').off('mouseout');
		$('#fifth_level').off('mouseout');
		level = 100;
	});


// 과제양
	// first_homework
	$('#first_homework').hover(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#first_homework').on('mouseout');
		$('#homework_text').text('그런거 없다');

	});

	$('#first_homework').mouseout(function(){
		$('#first_homework').attr('aria-valuenow', '0');
		$('#homework_text').text('');
	});

	$('#first_homework').click(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '0');
		$('#third_homework').attr('aria-valuenow', '0');
		$('#fourth_homework').attr('aria-valuenow', '0');
		$('#fifth_homework').attr('aria-valuenow', '0');
		$('#first_homework').off('mouseout');
		homework = 20;
	});


	// second_homework
	$('#second_homework').hover(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '100');
		$('#homework_text').text('초큼 있음');
	});

	$('#second_homework').mouseout(function(){
		$('#first_homework').attr('aria-valuenow', '0');
		$('#second_homework').attr('aria-valuenow', '0');
		$('#homework_text').text('');
	});

	$('#second_homework').click(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '100');
		$('#third_homework').attr('aria-valuenow', '0');
		$('#fourth_homework').attr('aria-valuenow', '0');
		$('#fifth_homework').attr('aria-valuenow', '0');
		$('#first_homework').off('mouseout');
		$('#second_homework').off('mouseout');
		homework = 40;
	});

	// third_homework
	$('#third_homework').hover(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '100');
		$('#third_homework').attr('aria-valuenow', '100');
		$('#homework_text').text('보통');
	});

	$('#third_homework').mouseout(function(){
		$('#first_homework').attr('aria-valuenow', '0');
		$('#second_homework').attr('aria-valuenow', '0');
		$('#third_homework').attr('aria-valuenow', '0');
		$('#homework_text').text('');
	});

	$('#third_homework').click(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '100');
		$('#third_homework').attr('aria-valuenow', '100');

		$('#fourth_homework').attr('aria-valuenow', '0');
		$('#fifth_homework').attr('aria-valuenow', '0');
		$('#first_homework').off('mouseout');
		$('#second_homework').off('mouseout');
		$('#third_homework').off('mouseout');
		homework = 60;
	});

	// fourth_homework
	$('#fourth_homework').hover(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '100');
		$('#third_homework').attr('aria-valuenow', '100');
		$('#fourth_homework').attr('aria-valuenow', '100');
		$('#homework_text').text('슬슬 짜증');
	});

	$('#fourth_homework').mouseout(function(){
		$('#first_homework').attr('aria-valuenow', '0');
		$('#second_homework').attr('aria-valuenow', '0');
		$('#third_homework').attr('aria-valuenow', '0');
		$('#fourth_homework').attr('aria-valuenow', '0');
		$('#homework_text').text('');
	});


	$('#fourth_homework').click(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '100');
		$('#third_homework').attr('aria-valuenow', '100');
		$('#fourth_homework').attr('aria-valuenow', '100');
		$('#fifth_homework').attr('aria-valuenow', '0');
		$('#first_homework').off('mouseout');
		$('#second_homework').off('mouseout');
		$('#third_homework').off('mouseout');
		$('#fourth_homework').off('mouseout');
		homework = 80;
	});



	// fifth_homework
	$('#fifth_homework').hover(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '100');
		$('#third_homework').attr('aria-valuenow', '100');
		$('#fourth_homework').attr('aria-valuenow', '100');
		$('#fifth_homework').attr('aria-valuenow', '100');
		$('#homework_text').text('포기...');
	});

	$('#fifth_homework').mouseout(function(){
		$('#first_homework').attr('aria-valuenow', '0');
		$('#second_homework').attr('aria-valuenow', '0');
		$('#third_homework').attr('aria-valuenow', '0');
		$('#fourth_homework').attr('aria-valuenow', '0');
		$('#fifth_homework').attr('aria-valuenow', '0');
		$('#homework_text').text('');
	});


	$('#fifth_homework').click(function(){
		$('#first_homework').attr('aria-valuenow', '100');
		$('#second_homework').attr('aria-valuenow', '100');
		$('#third_homework').attr('aria-valuenow', '100');
		$('#fourth_homework').attr('aria-valuenow', '100');
		$('#fifth_homework').attr('aria-valuenow', '100');
		$('#first_homework').off('mouseout');
		$('#second_homework').off('mouseout');
		$('#third_homework').off('mouseout');
		$('#fourth_homework').off('mouseout');
		$('#fifth_homework').off('mouseout');
		homework = 100;
	});

		// first_total
	$('#first_total').hover(function(){
		$('#first_total').attr('src',"<%= image_path "activated_star.png", :id => "first_total" %>");
		$('#first_total').on('mouseout');
		$('#total_text').text('최악이에요');
	});

	$('#first_total').mouseout(function(){
		$('#first_total').attr('src', "<%= image_path "unactivated_star.png", :id => "first_total" %>");
		$('#total_text').text('');
	});

	$('#first_total').click(function(){
		$('#first_total').attr('src', "<%= image_path "activated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "unactivated_star.png", :id => "second_total" %>");
		$('#third_total').attr('src', "<%= image_path "unactivated_star.png", :id => "third_total" %>");
		$('#fourth_total').attr('src', "<%= image_path "unactivated_star.png", :id => "fourth_total" %>");
		$('#fifth_total').attr('src', "<%= image_path "unactivated_star.png", :id => "fifth_total" %>");

		$('#first_total').off('mouseout');


		total=1;
	});

	// second_total
	$('#second_total').hover(function(){
				$('#first_total').attr('src',"<%= image_path "activated_star.png", :id => "first_total" %>");
				$('#second_total').attr('src',"<%= image_path "activated_star.png", :id => "second_total" %>");
				$('#second_total').on('mouseout');
				$('#total_text').text('별로에요');
			

	});

	$('#second_total').mouseout(function(){
		$('#first_total').attr('src', "<%= image_path "unactivated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "unactivated_star.png", :id => "second_total" %>");
		$('#total_text').text('');
	});

	$('#second_total').click(function(){
		$('#first_total').attr('src', "<%= image_path "activated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "activated_star.png", :id => "second_total" %>");
		$('#third_total').attr('src', "<%= image_path "unactivated_star.png", :id => "third_total" %>");
		$('#fourth_total').attr('src', "<%= image_path "unactivated_star.png", :id => "fourth_total" %>");
		$('#fifth_total').attr('src', "<%= image_path "unactivated_star.png", :id => "fifth_total" %>");

		$('#first_total').off('mouseout');
		$('#second_total').off('mouseout');
		
		total=2;
	});

	// third_total
	$('#third_total').hover(function(){
				$('#first_total').attr('src',"<%= image_path "activated_star.png", :id => "first_total" %>");
				$('#second_total').attr('src',"<%= image_path "activated_star.png", :id => "second_total" %>");
				$('#third_total').attr('src',"<%= image_path "activated_star.png", :id => "third_total" %>");
				$('#third_total').on('mouseout');
				$('#total_text').text('보통이요');
			

	});

	$('#third_total').mouseout(function(){
		$('#first_total').attr('src', "<%= image_path "unactivated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "unactivated_star.png", :id => "second_total" %>");
		$('#third_total').attr('src',"<%= image_path "unactivated_star.png", :id => "third_total" %>");
		$('#total_text').text('');
	});

	$('#third_total').click(function(){
		$('#first_total').attr('src', "<%= image_path "activated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "activated_star.png", :id => "second_total" %>");
		$('#third_total').attr('src', "<%= image_path "activated_star.png", :id => "third_total" %>");
		$('#fourth_total').attr('src', "<%= image_path "unactivated_star.png", :id => "fourth_total" %>");
		$('#fifth_total').attr('src', "<%= image_path "unactivated_star.png", :id => "fifth_total" %>");
		
		$('#first_total').off('mouseout');
		$('#second_total').off('mouseout');
		$('#third_total').off('mouseout')
		total=3;
	});



	// fourth_total
	$('#fourth_total').hover(function(){
				$('#first_total').attr('src',"<%= image_path "activated_star.png", :id => "first_total" %>");
				$('#second_total').attr('src',"<%= image_path "activated_star.png", :id => "second_total" %>");
				$('#third_total').attr('src',"<%= image_path "activated_star.png", :id => "third_total" %>");
				$('#fourth_total').attr('src',"<%= image_path "activated_star.png", :id => "fourth_total" %>");
				$('#fourth_total').on('mouseout');
				$('#total_text').text('좋아요');
			

	});

	$('#fourth_total').mouseout(function(){
		$('#first_total').attr('src', "<%= image_path "unactivated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "unactivated_star.png", :id => "second_total" %>");
		$('#third_total').attr('src',"<%= image_path "unactivated_star.png", :id => "third_total" %>");
		$('#fourth_total').attr('src',"<%= image_path "unactivated_star.png", :id => "fourth_total" %>");
		$('#total_text').text('');
	});

	$('#fourth_total').click(function(){
		$('#first_total').attr('src', "<%= image_path "activated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "activated_star.png", :id => "second_total" %>");
		$('#third_total').attr('src', "<%= image_path "activated_star.png", :id => "third_total" %>");
		$('#fourth_total').attr('src', "<%= image_path "activated_star.png", :id => "fourth_total" %>");
		$('#fifth_total').attr('src', "<%= image_path "unactivated_star.png", :id => "fifth_total" %>");
		
		$('#first_total').off('mouseout');
		$('#second_total').off('mouseout');
		$('#third_total').off('mouseout');
		$('#fourth_total').off('mouseout');
		total=4;
	});



	// fifth_total
	$('#fifth_total').hover(function(){
				$('#first_total').attr('src',"<%= image_path "activated_star.png", :id => "first_total" %>");
				$('#second_total').attr('src',"<%= image_path "activated_star.png", :id => "second_total" %>");
				$('#third_total').attr('src',"<%= image_path "activated_star.png", :id => "third_total" %>");
				$('#fourth_total').attr('src',"<%= image_path "activated_star.png", :id => "fourth_total" %>");
				$('#fifth_total').attr('src',"<%= image_path "activated_star.png", :id => "fourth_total" %>");
				$('#fourth_total').on('mouseout');
				$('#total_text').text('너무 좋아요!');
			

	});

	$('#fifth_total').mouseout(function(){
		$('#first_total').attr('src', "<%= image_path "unactivated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "unactivated_star.png", :id => "second_total" %>");
		$('#third_total').attr('src',"<%= image_path "unactivated_star.png", :id => "third_total" %>");
		$('#fourth_total').attr('src',"<%= image_path "unactivated_star.png", :id => "fourth_total" %>");
		$('#fifth_total').attr('src',"<%= image_path "unactivated_star.png", :id => "fifth_total" %>");
		$('#total_text').text('');
	});

	$('#fifth_total').click(function(){
		$('#first_total').attr('src', "<%= image_path "activated_star.png", :id => "first_total" %>");
		$('#second_total').attr('src', "<%= image_path "activated_star.png", :id => "second_total" %>");
		$('#third_total').attr('src', "<%= image_path "activated_star.png", :id => "third_total" %>");
		$('#fourth_total').attr('src', "<%= image_path "activated_star.png", :id => "fourth_total" %>");
		$('#fifth_total').attr('src', "<%= image_path "activated_star.png", :id => "fifth_total" %>");
		
		$('#first_total').off('mouseout');
		$('#second_total').off('mouseout');
		$('#third_total').off('mouseout');
		$('#fourth_total').off('mouseout');
		$('#fifth_total').off('mouseout');
		total=5;
	});



$('#submit_button').click(function(event){


	if($('.message').val().length<10)
	{
		alert('강의평을 10자이상 입력해주세요!');
	}
	else 
	{
		event.preventDefault();
		$('#submit_button').html('전송중...')
		this.disabled=true;

			//this.disabled=true;
		
			<%if !current_user.valuations.find_by(lecture_id: params[:id]).nil?%>
				    alert('이미 평가를 하였습니다.')
				   $('#submit_button').html('평가하기')
				    this.disabled=false;
			<% else %>
					if(total ==0)
					{ 
									alert('별점 평가를 해주세요!');
									 $('#submit_button').html('평가하기')
				    				 this.disabled=false;
					}
					else
					{
						$.ajax({
							url: "/valuations",
							type: "post",
							data: {'lecture_id':<%=params[:id]%>, 'total':total,
							'content':$(".message").val()},
							success: function(){
								<%if current_user.valuations.count<1 %>
									alert('평가 완료!!');
									window.location ="/forcingwritting"
								<%else%>
									alert('감사합니다. 강의평가 모두 완료되었습니다.')
									window.location = ""+"<%= Figaro.env.amodzzi_url%>"+"/lectures/"+ <%= @lecture.id%>
								<%end%>
							},
							
							error:function(){
								alert('error')
							}
							

						});
					}
			<%end%> 


	}
	});


</script>














