
<% if !lectures.nil? %>
    <% if lectures.nil? %>
      <div> 검색결과가 없습니다.. </div>

    <% else %>
        <% lectures.each do |lec| %>
              <% if lec.lecturetime.nil? %> 
                <div class="list-group"  style="width:80%;border:1px solid #f5f5f5;margin-bottom:0;">
                  <h4> <%=lec.subject %> </h4>

                  <p><%= lec.professor %> / <%=lec.place%></p>                
                </div>      
              <% else %>
                 <div class="list-group lec_<%= lec.id%>" style="width:80%;border:1px solid #f5f5f5;margin-bottom:0;">
                    <h4 class = "subject"> <%=lec.subject %> </h4>

                    <span class = "professor"><%= lec.professor %> / </span>
                    <span class = "place"> <%=lec.place%> </span>       
                    <span class = "lecture_time" style = "display:none"><%= lec.lecturetime %></span>
                    <span class = "isu" style = "display:none"><%= lec.isu %></span>               
                  </div>
              <% end %>
        <% end %>
       
      <%= will_paginate lectures, :class=>'paginate'%>
    <% end %>
<% end %>


<script>

$(document).ready(function(){
      $("a.tooltipLink").tooltip();
});

</script>
