	<div>
    <%= image_tag "main_row.png", class: "responsive-img, main_image_blk"%>
  </div> <!--background image-->

	 <div class="row"> <!--background image와 바로가기-->
			<div class="col m4 offset-m4 main_image__text" align="center">
  					<div>클릭만으로 간편하게,</div>
  					<div>시간표를 짜는 가장 쉬운 방법</div>
  					<div class = "main_image__btn">
                <a href="#">
                  <%= link_to new_timetable_path do %>
                      <%= image_tag "write_timetable_btn.png", align: "center"%>
                  <% end %>
                </a>
            </div>
			</div>
	</div>

<div class = "container">
  <div class="row">
  		<div class="col s8 offset-s2" align="center">
      			<div class="col s4 promo_school_box">
              <%= image_tag "school.png", id: "main_img" %>
      				<div>
                <p class = "light" style="font-size:18pt">세종대학교</span>에서
              </div>
      			</div>

      			<div class="col s4 promo_box">
      				<div class = "light promo_box__count"><%=User.all.count%></div>
      				<p class = "light">참여한 학생</p>
      			</div>

      			<div class="col s4 promo_box">
      				<div class="light promo_box__count"><%=Valuation.all.count%></div>
      				<p class = "light">등록된 강의평가수</p>
      			</div>
      </div>
    </div>
	</div>


<script>
  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>');
  <% end %>

  $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
  });

});
function showLecture(lec_num)
  {
      <% if user_login? %>
        <% if current_user.valuations.count>=2 %>
          window.location="/lectures/"+lec_num.toString()
         <% else %>
         window.location="<%=forcingwritting_url%>"
         <% end %>
       <% else %>
          window.location="<%=root_url%>"
      <% end %>
  }
</script>
