<% content_for :head do %>
  <title>아뭐듣지</title>
<% end %>


	<div class = "row">
    <div class = "col s12 valign-wrapper" style = "padding :0">
        <%= image_tag "main_row.png", class: "responsive-img, main_image_blk"%>
        <div class="main_image__text valign" align="center">
              <strong>클릭만으로 간편하게,</strong>
              <strong>시간표를 짜는 가장 쉬운 방법</strong>
              <div class = "main_image__btn">

                    <%= link_to new_timetable_path do %>
                        <%= image_tag "write_timetable_btn.png", align: "center responsive-img", alt: "시간표 작성하기 버튼"%>
                    <% end %>

              </div>
        </div>
    </div>
  </div> <!--background image-->


  <div class="container">
    	 <div class="row row-margin-top center"> <!--background image와 바로가기-->
         <h4><strong class = "center"> 숫자로 보는 아뭐듣지 </strong></h4>
    	</div>
  </div>

	<div class = "container">
	  <div class="row home_number_blk">
	  		<!-- <div class="col s8 offset-s2" align="center"> -->
	      			<div class="col l4 m4 s12 promo_school_box center">
	      				<div>
                  <div>
                    <strong class = "light home__number_int"><%=User.all.count%></strong> <strong class = "home__number_text">명</strong>
                  </div>
	                <strong class = "light home__info" style="font-size:18pt;">세종대학교 학생</strong>
                  <p class = "light home__detail_info" style = "font-size : 11pt"> 아뭐듣지를 이용하는 학생 수가 이렇게 많습니다. 어서 가입해서 시간표도 편하게 짜고 강의평가 보고 꿀강의를 찾아보세요</p>

	              </div>
	      			</div>

	      			<div class="col l4 m4 s12 promo_box center">
                <div>
                  <strong class = "light home__number_int"><%= Timetable.all.count %></strong> <strong class = "home__number_text">개</strong>
                </div>
                <strong class = "light" style="font-size:18pt;">시간표</strong>
                <p class = "light home__detail_info" style = "font-size : 11pt"> 노트에 시간표 정리해 놓으면 자꾸 잃어버리죠. 시간표 힘들게 손으로 쓰지말고 아뭐듣지에 접속만 하세요!  </p>
	      			</div>

	      			<div class="col l4 m4 s12 promo_box center">
                <div>
                  <strong class = "light home__number_int"><%= Valuation.all.count %></strong> <strong class = "home__number_text">개</strong>
                </div>
                <strong class = "light" style="font-size:18pt;">강의평가</strong>
                <p class = "light home__detail_info" style = "font-size : 11pt"> 수강신청 때마다 선배 후배 동기에게 눈치보며 연락하지 마세요. 아뭐듣지가 강의에 대한 모든 정보 알려드립니다.</p>
	      			</div>
	      <!-- </div> -->
	    </div>
		</div>
