<div class = "newsfeed_container">

  <div class = "search_row">
    <%= render 'dropdown_major_btns'%>

    <%= form_tag newsfeed_path, :method => 'get', :class =>'form-inline search_box ' do %>
      <%= text_field_tag :search, params[:search], placeholder: :"강의,교수님,학과명을 입력해주세요!" ,:class => 'form-control  form-group search_word'
          %>
      <%= submit_tag "찾아줘!", data: { disable_with: "검색 중..." }, :class =>'btn btn-primary search_btn'%>
    <% end %>
    
  </div> <!-- search_box -->

  <div class = "search_result_box">
    
    <div class = "result_table">
      <div class="sort_paginate_ajax" id="searchtables">
          <%= render 'searchtables' %>
      </div> 
    </div>
  </div>

</div> <!-- home_box -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72706618-1', 'auto');
    ga('send', 'pageview');
</script>


<script>
   //pagination using ajax
  $(function() {
    $("#searchtables").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
   //pagination using ajax
  $(function() {
    $("#valuationlists").on("click", ".pagination a", function(){
        $.getScript(this.href);
        return false;
      });
  });
 
 
  <% if !@lecture_name.nil? %>
    $('.dropdown-toggle').dropdown().html('<%=@lecture_name%>');
  <% end %>
  $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $("#border-none:first-child").text($(this).text());
      $("#border-none:first-child").val($(this).text());
    });
  });

function showLecture(lec_num)
  {
      <% if user_login? %>
        <% if current_user.valuations.count>=2 %>
          window.location="/lectures/"+lec_num.toString()
         <% else %>
         window.location="<%=forcingwritting_url%>"
         <% end %>  
       <% else %>
          window.location="<%=root_url%>"
      <% end %>        
  }

</script>



