<% provide(:title, "Log in") %>
<div class = "container">
  <div class="row">
      <div class="col m4 offset-m4 ">

        <div>
          <h5 class = "center-align">로그인-</h5>
        </div>

        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :"아이디" , for: "email"%>
          <%= f.text_field :email, class: 'validate', id: "email" %>

          <%= f.label :"비밀번호 ", for: "password" %>
          <%= f.password_field :password, class: 'validate', id: "password"%>

          <div class = "row">
            <%= f.submit "로그인", class: "btn waves-effect waves-light col m12" %>
          </div>
        <% end %>

        <div class = "row">
          <%= link_to "email로 10초만에 가입하기", signup_path, class: "btn waves-effect waves-light col m12" %>
        </div>
        <div class = "row">
          <%= link_to "Facebook으로 로그인","/auth/facebook", target: "_parent", class: "btn waves-effect waves-light col m12 fb_btn"%>
        </div>

      </div>
    <!-- </div> -->
  </div>

</div>
