

<div class = "row right-align">
  <span> 검색결과 총 <%= @lectures.count %> 개  </span>
</div>

<div class = "row">
<table class = "striped">
  <thead>
        <tr>
            <th class = "center-align" data-field="subject">강의명</th>
            <th class = "center-align" data-field="professor">교수명</th>
            <th class = "center-align" data-field="open_department">학과</th>
            <th class = "center-align" data-field="acc_total">별점</th>
            <th class = "center-align" data-field="valuations_size">평가수</th>
            <th class = "center-align" data-field="new_valuation"> </th>
        </tr>
  </thead>

  <tbody>
      <% lectures.each do |lec| %>
        <tr class = "l<%= lec.id %>">
          <td class = "subject"><%= lec.subject%></td>
          <td class = "professor center-align"><%= lec.professor%></td>
          <td class = "open_department center-align"><%= lec.open_department%></td>
          <td class = "avr_rating center-align">
            <div>
              <%= render 'valuations/show_star_by_rating', :rating => lec.avr_rating %>
              <%= lec.avr_rating.round(2)%>
            </div>
          </td>
          <td class = "count center-align"><%= lec.valuations.count%></td>
          <td class = "td__modal--a center-align">
            <% if current_page? (url_for(controller: 'valuations', action: 'new'))%>
              <%= render "valuation_btn", :lec => lec%>
            <% elsif current_page? (url_for(controller: 'valuations', action: 'index'))%>
              <!-- 조회하기 -->
              <%= render 'lecture_show_btn', :lec => lec %>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>
<%= will_paginate lectures %>
