


<div class = "container">
  <div class = "section">
        <div class = "row">
          <div class = "col m8 offset-m2 center-align">

              <%= form_tag action_url, method: :get do %>
              <div class = "row">
                  <div class="input-field col m10">
                    <%= text_field_tag :"search"%>
                    <%= label_tag :search, "강의명, 교수명, 학과명으로 검색할 수 있어요"%>
                  </div>
                  <div class="col m2">
                    <%= submit_tag "찾아줘!", data: { disable_with: "검색 중..." }, class: 'btn'%>
                  </div>
              </div>
              <% end %>
          </div>
        </div>
  </div>

  <div class = "row">
    <div class = "col m12">
          <% if lectures.nil? %>
                <% if isSearch %>
                <h5> 검색 결과가 없습니다. </h5>
                <% end %>
          <% else %>
                <%= render "lectures/search_table", :lectures => lectures %>
          <% end %>
    </div>
  </div>

</div>
