<% content_for :head do %>
  <title>강의 편집하기</title>
<% end %>

<div class = "container">
  <div class="row">

    <div class = "col m10 row-margin-top">

      <h5 class = "light">Edit Lecture</h5>
        <%= form_for @lecture do |f|%>

            <%= f.label :"강의" %>
            <%= f.text_field :subject %> <br>

            <%= f.label :"교수" %>
            <%= f.text_field :professor %><br>

            <%= f.label :"major" %>
            <%= f.text_field :major %><br>

            <%= f.label :"이수" %>
            <%= f.text_field :isu %><br>

            <%= f.label :"credit" %>
            <%= f.text_field :credit %>

            <%= f.label :"open_department" %>
            <%= f.text_field :open_department %><br>

            <%= f.submit :submit, class: "btn" %>

        <% end %>

    </div>
  </div>
</div>
