

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
<h1>Edit Lecture</h1>
<%= form_for @lecture do |f|%>

<%= f.label :"강의" %>
<%= f.text_field :subject %> <br>

<%= f.label :"교수" %>
<%= f.text_field :professor %><br>

<%= f.label :"개설학과" %>
<%= f.text_field :major %><br>

<%= f.label :"강의시간" %>
<%= f.text_field :lecturetime %><br>

<%= f.submit :submit %>
<% end %>


	</div>

	<div class="col-md-1"></div>
	</div>


