
<% provide(:title, '시간표 만들기') %>
<div class = "container">
  <div class="row">
    <div class="col m4 offset-m4 ">
      <div class = "section">
        <h3>시간표 만들기-</h3>
      </div>

        <%= form_for(@timetable) do |f| %>
          <%= render 'shared/error_messages_timetable' %>
          <div class = "row">
            <div class="input-field col s12">
              <%= f.label :'시간표 이름' %>
              <%= f.text_field :name, class: 'validate',
                  :placeholder => '시간표 이름을 입력해주세요!' %>
            </div>
          </div>

          <div class = "row">
            <div class="input-field col s12">
              <%= f.select :semester, "<option value="" disabled selected>학기 선택하기</option>
                                        <option value = '20162.0'>2016년 2학기</option>
                                        <option value = '20161.0'>2016년 1학기</option>".html_safe%>
              <%= f.label :'시간표 학기' %>
            </div>
          </div>

        <div class = "row">
          <%= f.submit "만들기 !", class: "btn col m12" %>
        </div>

        <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
