
<% provide(:title, '가입하기') %>

<div class = "container">
  <div class="row">
    <div class="col m4 offset-m4 ">

      <div class = "section">
        <h5>아뭐듣지 가입하기</h5>
      </div>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages_user' %>

      <div class = "input-field col m12">
        <%= f.label :'별명 (학번 및 실명은 권하지 않습니다-)', for: "nickname" %>
        <%= f.text_field :nickname, class: 'validate', id: "nickname" %>
      </div>

      <div class = "input-field col m12">
        <%= f.label :'email', for: "email" %>
        <%= f.text_field :email, class: 'validate', id: "email" %>
      </div>

      <div class = "input-field col m12">
        <%= f.label :'암호 (6자 이상)', for: "password" %>
        <%= f.password_field :password, class: 'validate', id: "password" %>
      </div>

      <div class = "input-field col m12">
        <%= f.label :password_confirmation, "암호 한번 더 (똑같이)", for: "password_confirm" %>
        <%= f.password_field :password_confirmation, class: 'validate', id: "password_confirm" %>
      </div>

      <div class = "row">
        <%= f.submit "계정 만들기", class: "btn col m12" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
