<div class="v_row row_padding_reduction">

	
		

	<div class="v_row row_padding_reduction">

		<!-- <div style = "width : 90%"> -->
			<div class="valuation_item grade"  >
		     총평
		     </div>
				<%= image_tag("unactivated_star.png", size: "30x30", id: "first_total") %>
				<%= image_tag("unactivated_star.png", size: "30x30", id: "second_total") %>
				<%= image_tag("unactivated_star.png", size: "30x30", id: "third_total") %>
				<%= image_tag("unactivated_star.png", size: "30x30", id: "fourth_total") %>
				<%= image_tag("unactivated_star.png", size: "30x30", id: "fifth_total") %>

			<div id="total_text"></div>
		<!-- </div> -->

	</div>	

</div>