<!DOCTYPE html>
<html >
<head >
 <meta http-equiv="contentType" type="text/html" charset="euc-kr" />
  <title >아뭐듣지</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <br><br>
  <%= yield %>
  <div class="noheader">
     <%= render 'layouts/footer' %>
  </div>
</body>
</html>
